# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini

*.swp
nbproject
pma/autoinst/db.conf
pma/autoinst/installed_domain_list.txt
pma/autoinst/used_domain_list.txt
.elasticbeanstalk/
