commands:
  add_user: 
    command: sudo sh add_user.sh
    cwd: ./script

commands:
  ec2:
    command: sudo sh ec2_setup_pms_pma.sh
    cwd: ./script

commands:
  rvm: 
    command: sh rvm_ruby_install.sh
    cwd: ./script

commands:
  pms: 
    command: sudo sh deplpoy_pms_pma.sh
    cwd: ./script
